@model CMSProject.DomainClass.PageGroup.PageGroup

@{
    ViewData["Title"] = "Details";
}

<h2>جزئیات گروه</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GroupTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GroupTitle)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.GroupID">ویرایش</a> |
    <a asp-action="Index">بازگشت به لیست</a>
</div>
